.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #177cff;
}

.main-header a {
  padding: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.main-header h1 {
  font-size: 24px;
  color: #fff;
}
